#!/bin/sh
#
# direnv automatically loads the python virtual environment and configures
# shell variables.
#
# see https://github.com/direnv/direnv/wiki/Python
#
export VIRTUAL_ENV=venv
layout python3
