[defaults]
inventory = ./inventories
roles_path = ./roles
vault_password_file = ./scripts/echo-vault-password-environment-variable.sh
interpreter_python = auto_silent
inventory_ignore_patterns = _known_hosts

[ssh_connection]
pipelining = true
