---
#####
# Install and configure Visual Studio Code
#####

# Adopted from https://code.visualstudio.com/docs/setup/linux
#
# Notes:
#
# - Installing VS Code via apt might cause errors in apt sources. See https://ubuntuhandbook.org/index.php/2023/12/install-ubuntu-24-04/
# - The snap package is only available for the AMD64 architecture.

# The ansible module apt_repository installs the Microsoft repository into
# /etc/apt/sources.list.d/vscode.list with old and deprecated format.
#
# The VS Code installer renames /etc/apt/sources.list.d/vscode.list
# to /etc/apt/sources.list.d/vscode.sources and updates its format.
#
# As a consequence, we must not add the Microsoft repository again, if the
# file /etc/apt/sources.list.d/vscode.sources already exists.
#
# Otherwise a conflict of apt sources will occur.
- name: Check whether Microsoft repository is already configured
  stat:
    path: /etc/apt/sources.list.d/vscode.sources
  register: vscode_sources_file

# wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > /tmp/packages.microsoft.gpg
- name: Download Microsoft ASCII-armored GPG key
  get_url:
    url: https://packages.microsoft.com/keys/microsoft.asc
    dest: /tmp/microsoft.asc
    mode: '0644'
  when: not vscode_sources_file.stat.exists

- name: Convert ASCII-armored key to binary GPG format
  shell: cat /tmp/microsoft.asc | gpg --dearmor > /tmp/packages.microsoft.gpg
  when: not vscode_sources_file.stat.exists

# sudo install -D -o root -g root -m 644 packages.microsoft.gpg /etc/apt/keyrings/packages.microsoft.gpg
- name: Install Microsoft GPG key for VS Code
  copy:
    remote_src: yes
    src: /tmp/packages.microsoft.gpg
    dest: /etc/apt/keyrings/packages.microsoft.gpg
    owner: root
    group: root
    mode: '0644'
  when: not vscode_sources_file.stat.exists

# echo "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" |sudo tee /etc/apt/sources.list.d/vscode.list > /dev/null
- name: Add VS Code repository to apt sources
  apt_repository:
    repo: "deb [arch=amd64,arm64,armhf signed-by=/etc/apt/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main"
    filename: vscode
    state: present
  when: not vscode_sources_file.stat.exists

# rm -f /tmp/packages.microsoft.gpg and /tmp/microsoft.asc
- name: Remove temporary Microsoft GPG key files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/packages.microsoft.gpg
    - /tmp/microsoft.asc
  when: not vscode_sources_file.stat.exists

# sudo apt install apt-transport-https
- name: Ensure apt-transport-https is installed
  apt:
    name: apt-transport-https
    state: present

# sudo apt update
- name: Update apt package index
  apt:
    update_cache: yes

# sudo apt install code # or code-insiders
- name: Install Visual Studio Code
  apt:
    name: code
    state: present

# Configure VS Code
- name: Create .vscode directory
  file:
    path: /home/{{ item }}/.vscode
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0775'
  loop: "{{ desktop_user_names }}"

- name: Create empty .vscode/argv.json
  copy:
    src: "{{ playbook_dir }}/../configuration/home/my_desktop_user/.vscode/argv.json"
    dest: /home/{{ item }}/.vscode/argv.json
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: '0775'
  loop: "{{ desktop_user_names }}"

- name: Configure keyring for VS Code
  become_user: "{{ item }}"
  blockinfile:
    path: /home/{{ item }}/.vscode/argv.json
    insertafter: '^{$'
    block: "{{ vscode_keyring_configuration | indent(8, True) }}"
    marker: "// {mark} ANSIBLE MANAGED BLOCK - Visual Studio Code keyring configuration"
    append_newline: true
    state: present
  vars:
    vscode_keyring_configuration: |
      // Configure the keyring as described in
      // https://code.visualstudio.com/docs/configure/settings-sync#_troubleshooting-keychain-issues
      "password-store": "gnome-libsecret",
  loop: "{{ desktop_user_names }}"
