---
# Usage: Import this task into your playbook
#
# Parameters
#
#   path:             single file / directory or list of files / directories
#                     to backup
#
#   temp_backup_path: path of a temporary backup target on the remote
#
#   backup_file:      name of the backup file
#
#   exclusion_patterns: list of patterns to exclude from the backup
#
- name: Calculate helper variables
  set_fact:
    backup_dir: "{{ lookup('env', 'BACKUP_DIR') | default(playbook_dir ~ '/../../configuration/home/my_desktop_user/backup', true) }}"
    dest: "{{ backup_dir ~ '/' ~ backup_file | realpath }}"

- name: "Create tar.gz backup"
  archive:
    path: "{{ path }}"
    dest: "{{ temp_backup_path }}"
    format: gz
    force_archive: yes
    exclusion_patterns: "{{ exclusion_patterns | default([]) }}"

- name: Fetch backup file
  fetch:
    src: "{{ temp_backup_path }}"
    dest: "{{ dest }}"
    flat: yes

- name: Delete backup from remote
  file:
    path: "{{ temp_backup_path }}"
    state: absent
